{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Выбор лучшего ответа</h1>
    {% for element in answers %}
            <div class="alert alert-warning mt-2">
                {% if element.author_id != None %}
                    <h2>{{ element.author_id }}</h2>
                {% else %}
                    <h2><i>Страница пользователя недоступна</i></h2>
                {% endif %}
                    <p>{{ element.text }}</p>
                    <h6>опубликован <strong>{{ element.created_date }}</strong></h6>
                    <a class="btn btn-outline-success" href="/change_answer_status/{{ element.id }}">этот ответ лучший</a>
            </div>
    {% endfor %}
{% endblock %}